<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem 
    nsRouterLink="/challenges/replace"
    ios.position="right" 
    android.position="actionBar"
    pageTransition="slideLeft"><Label  text="Replace"></Label>
  </ActionItem>
  <ActionItem 
    nsRouterLink="/challenges/edit"
    ios.position="right" 
    android.position="actionBar"
    pageTransition="slideLeft"><Label  text="Edit"></Label>
  </ActionItem>
</ns-action-bar>
<StackLayout>
  <Label
    class="title"
    text="The current challenge"
    horizontalAlignment="center"
  ></Label>
  <Button text="Change Status" (tap)="onChangeStatus()"></Button>
</StackLayout>
